<%= stylesheet_link_tag "styles" %>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class = "table-responsive decoded-details">
      <table class = "table table-striped table-hover">
        <tbody>
          <tr>
            <td>Listing status</td>
            <td><%=decoded_result[0]%></td>
          </tr>
          <tr>
            <td>Industry Type</td>  
            <td><%=decoded_result[1]%></td>
          </tr>
          <tr>
            <td>State</td>
            <td><%=decoded_result[2]%></td>
          </tr>
          <tr>
            <td>Company incorporated year</td>
            <td><%=decoded_result[3]%></td>
          </tr>
          <tr>
            <td>Company Type</td>
            <td><%=decoded_result[4]%></td>
          </tr>
          <tr>
            <td>Registration Number</td>
            <td><%=decoded_result[5]%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>